.title {
  	align-self: stretch;
  	position: relative;
}
.content {
  	width: 854px;
  	position: relative;
  	display: flex;
  	align-items: flex-end;
}
.section1 {
  	flex: 1;
  	background-color: #ffeab1;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 16px 32px;
  	font-size: 32px;
  	color: #000;
  	font-family: 'Instrument Sans';
}
.videos {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 30px;
}
.spacer {
  	align-self: stretch;
  	position: relative;
  	background-color: #ffcc41;
  	height: 500px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.label {
  	position: relative;
}
.content1 {
  	position: relative;
  	color: #896a15;
  	text-align: right;
}
.div {
  	align-self: stretch;
  	background-color: #ffcc41;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
  	justify-content: space-between;
  	gap: 0px;
}
.author {
  	position: relative;
  	text-align: right;
}
.div1 {
  	align-self: stretch;
  	background-color: #ffcc41;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
  	justify-content: space-between;
  	gap: 0px;
  	font-size: 52px;
}
.info {
  	align-self: stretch;
  	background-color: #ffcc41;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 10px;
  	font-size: 40px;
}
.contents {
  	align-self: stretch;
  	background-color: #ffcc41;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 30px 120px;
  	gap: 30px;
  	text-align: left;
  	font-size: 52px;
}
.frame {
  	width: 100%;
  	position: relative;
  	background-color: #fffff3;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 80px 0px 0px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 128px;
  	color: #070707;
  	font-family: 'Instrument Serif';
}
